---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/Search";
import getSortedPosts from "@utils/getSortedPosts";

// Retrieve all published articles
const posts = await getCollection("blog", ({ data }) => !data.draft);
const projects = await getCollection("project", ({ data }) => !data.draft);

// combine posts and projects, sort by date
const combined = [...projects, ...posts];
const sortedPosts = getSortedPosts(combined);

// List of items to search in (include collection so client can route correctly)
const searchList = sortedPosts.map(({ data, slug, collection }) => ({
  title: data.title,
  description: data.description,
  data,
  slug,
  collection,
}));
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="Search" pageDesc="Search any article/work ...">
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
